@import url(https://fonts.google.com/specimen/Inter);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 375px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  margin: 0 auto;
  line-height: 2rem;
}
main {
  background-color: hsl(0, 0%, 12%);
  border-radius: 16px;
  padding: 1.5rem;
  margin: 50px auto 10px;
}
.ImgContainer {
  margin: 0px auto;
  text-align: center;
}
.ImgContainer img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.Text {
  text-align: center;
  margin-top: 1.5rem;
}
.Text h1 {
  font-weight: 700;
}
.Text h4 {
  color: hsl(75, 94%, 57%);
  font-size: 1.2rem;
}
.Text p {
  margin-top: 1.5rem;
  font-size: 1rem;
}
.links {
  margin-top: 1rem;
}
.links a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  display: block;
  text-align: center;
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.links a:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(75, 94%, 57%);
  text-decoration: none;
}
@media (min-width: 1000px) {
  body {
    max-width: 1440px;
  }
  main {
    width: 40%;
  }
}
