@import url(https://fonts.google.com/specimen/Inter);
@import "tailwindcss";

@theme {
  --color-body: hsl(0, 0%, 8%);
  --color-main: hsl(0, 0%, 12%);
  --color-links: hsl(0, 0%, 20%);
  --color-hover-green: hsl(75, 94%, 57%);

  --font-inter: "Inter", sans-serif;
}

li {
  @apply w-full;
}

.btn {
  @apply block w-full py-2 transition-colors duration-200 rounded-lg cursor-pointer bg-hover-green hover:bg-hover-green hover:text-body active:bg-hover-green active:text-body focus:bg-hover-green focus:text-body;
}
